@media (max-width: 900px) {
  /* common */



  .btn {
    font-size: 0.7em;
  }


  /* header */

  .header-logo {
    font-size: 0.6em;
  }

  .header-list li {
    font-size: 0.7em;

  }

  .top-txt h1 {
    font-size: 2em;
  }

  /* merchandise */


  .item {
    width: 49%;
  }


  /* .footer-info  */


  .footer-info-content {
    width: 49%;
    margin-bottom: 30px;
  }

}


@media (max-width: 600px) {

  /* header */



  .header-list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menu-btn {
    position: fixed;
    top: 5px;
    right: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #996666;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}


#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}


#menu-btn-check {
  display: none;
}


.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #996666;
}
.menu-content ul {
  padding: 70px 10px 0;
  display: flex;
  flex-flow: column;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 35px;
}


.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #996666;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}



  /* top */

  .top-txt h1 {
    font-size: 1.5em;
  }

  .top-txt p {
    font-size: 0.6em;
  }


  /* info */


  .info {
    width: 100%;
  }


  /* merchandise */

  .item {
    width: 100%;
  }


  /* discount */

  .discount h2 {
    font-size: 1.2em;
  }


  /* reservation */


  .form-left, .form-right {
    width: 100%;
  }

  .form p {
    font-size: 0.5em;
  }

  .form label {
    font-size: 0.5em;
  }


  /* footer-info */


  .footer-info-content {
    width: 100%;
  }




  /* footer */

  footer {
    height: auto;
  }

  .footer-contents {
    flex-flow: column;
    text-align: center;
  }

}